*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* Shared style */
.flex{
    display: flex;
}
/* Body */
body{
    background-color: black;
}
/* Header */

#head{
    background-color: rgb(20, 20, 20);
    width: 100%;
}


/* Nav Section */

.nav-section{
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title>h2{
    font-size: 40px;
    font-weight: 800;
    color: rgba(245, 87, 38, 0.89);
}

.nav-menu{
   
}

.nav-menu ul{
    border:thin solid aliceblue;
   display: flex;
   align-items: center;
   gap: 40px;
   border-radius: 30px;
   padding: 3px;

}
.nav-menu a{
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 500;
}
a:hover{
    background-color:  rgba(245, 87, 38, 0.89);
}

#menu-icon{
    font-size: 2em;
    color: white;
    display: none;

}

/* Navigation Banner */

.nav-bnr{
    max-width: 100%;
    max-height: 100%;
    padding: 0px 220px;
    gap: 150px;
}
.nav-bnr>div{
    width: 50vw;
    height: 100vh;
}

.bnr-content{
   align-content: center;
}
.bnr-title{
    font-size: 100px;
    color: white;
    margin-bottom: 30px;
}
.bnr-description{
    font-size: 18px;
    font-weight: 500;
    color: aliceblue;
    opacity: 70%;
    margin-bottom: 50px;
}
.bnr-btn{
    
    justify-content: space-around;
    margin-bottom: 30px;

}

.bnr-btn a{
    font-size: 22px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    padding: 20px 65px;
    margin-bottom: 20px;
}

.bnr-display{
    background-image: url(../images/Images\ 2.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 90% 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bnr-video{
    display: flex;
    align-self: flex-end;
}

.bnr-card1{
    width: fit-content;
    height: auto;
    background-color:rgba(82, 79, 79, 0.897);
    color: white;
    border-radius: 16px;
    padding: 15px 30px;
    

}

.tuitorial{
    display: flex;
    align-self: flex-start;
}

.bnr-card2{
    width: auto;
    height: auto;
    background-color:rgba(82, 79, 79, 0.897);
    color: white;
    border-radius: 16px;
    padding: 15px 30px;  
}

.circle{
    align-items: center;
    
}
#circle{

    margin-right: 15px;
    width: 50px;
    height: 50px;
    background-color: rgba(245, 87, 38, 0.89);
    border-radius: 50%;
}


.bnr-card1 h2{
    font-size: 45px;
    font-weight: 800;

}
.bnr-card1 h4{
    font-size: 15px;
    font-weight: 400;
    opacity: 70%;
    
}

.bnr-card2 h2{
    font-size: 45px;
    font-weight: 800;

}
.bnr-card2 h4{
    font-size: 15px;
    font-weight: 400;
    opacity: 70%;
    
}

/* Habit Section */

.habit{
    padding: 150px 200px;
}
.habit-text{
    text-align: center;
    padding: 20px;
}
.habit-title{
    color: white;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;
}
.habit-description{
    color: white;
    font-size: 18px;
    font-weight: 500;
    opacity: 70%;
    margin-bottom: 30px;
}
.habit-cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 50px;
    margin-bottom: 50px;
}
.habit-card{
    padding: 20px 15px;
}
.habit-card>img{
    margin-bottom: 20px;
    border-radius: 50%;  
}
.habit-card h3{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.habit-card h5{
    color: white;
    font-size: 18px;
    opacity: 70%;
    font-weight: 400;
}
/* Habit banner section */
.habit-brn{
    background-color: rgba(58, 55, 55, 0.897);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    margin-top: 100px;
    
}
.habit-brn div{
    margin: 45px;
}
.habit-bnr-content{
    width: 30vw;
    height: 40vh;
}
.habit-bnr-title{
    color: white;
    font-size: 65px;
    line-height: 75px;
    font-weight: 900;
    margin-bottom: 20px;
}
.habit-bnr-description{
    color: rgb(168, 168, 168);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 70px;
}

.habit-bnr-btn{
    text-decoration: none;
    color: white;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 40px;
    padding: 15px 100px;
  
}
/* ..habit-bnr-content a{
    font-style: none;
    
} */
.habit-bnr-img{
    background-image: url(../images/run.jpg);
    border-radius: 30px;
    background-position: 70% 30%;
    width: 30vw;
    height: 40vh;
    margin: 45px;
}

/* Training & Exercise section */

.te-section{
    padding: 0 200px;
    margin-bottom: 100px;

}

.te-content{
    width: 50vw;
    margin-bottom: 100px;
}
.te-title{
    font-size: 4em;
    color: white;
    font-weight: 800;
    margin-bottom: 10px;
}
.te-description{
    font-size: 1.3em;
    color: rgb(168, 168, 168);
    font-weight: 400;
    line-height: 30px;
    opacity: 70%;
}

.te-album{
    
    

}
.te-album > div{
    
    width: 100%;
    height: 30vh;

}
.te-img1{
    display: flex;
  
}
.te-img1 div{
    background-size: cover;
    background-position: center;
}

.bg1{
    background-image: url(../images/exercise1.jpg);
    width: 25%;
    
}
.bg1 h5{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(6, 255, 210, 0.5);
}

.te-album h5{
    display: relative;
    width: auto;
    height: -webkit-fill-available;
    font-size: 1em;
    font-weight: 600;
    padding: 20px;
    
    
}

.bg2{
    background-image: url(../images/exercise2.png);
    width: 50%;
    color: white;  
}
.bg2 h5{
    background-color: rgba(255, 0, 0, 0.3)
}
.bg3{
    background-image: url(../images/exercise3.png);
    width: 25%;
    color: white;
}
.bg3 h5{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5)
}

.te-img2{
    display: flex;
}
.te-img2 div{
    background-size: cover;
    background-position: center;
}

.bg4{
    background-image: url(../images/exercise4.png);
    width: 40%;
    text-align: end;
    color: white;
}
.bg4 h5{
    background-color: rgba(0, 0, 0, 0.5) ;
}
.bg5{
    background-image: url(../images/exercise5.jpg);
    width: 25%;
    
    color: white;
}
.bg5 h5{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color:  rgba(66, 255, 0, 0.3) ;
}
.bg6{
    background-image: url(../images/exercise6.jpg);
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}
.bg6 h5{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(0, 71, 255, 0.3);
}

/* BMI Section */

.bmi-section{
    margin-bottom: 100px;
}
.section-text{
    display: flex;
    flex-direction: column;
    margin-bottom:  100px;
    padding: 0 500px;
}
.section-title{
    color: white;
    font-size: 4rem;
    font-weight: 850;
    /* margin: 20px auto; */
}
.section-description{
    color: rgb(168, 168, 168);
    font-size: 1.3rem;
    font-weight: 350;
    margin: 30px 0;
    line-height: 30px;
}

.bmi-calculate{
    background-color: rgba(58, 55, 55, 0.897);
    padding: 50px 200px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.bmi-chart h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 50px;
}
#calculate-chart{
    border: 0.5px solid rgba(194, 194, 194, 0.795);
    border-collapse: collapse;
}

#calculate-chart td {
    border: 0.5px solid rgba(194, 194, 194, 0.795);
    color:  rgb(168, 168, 168);
    font-size: 1.2rem;
    font-weight: 400;
    padding: 20px 40px;
}
#calculate-chart thead td{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}
.bmi-calcucator{
    max-width: 40vw;
    max-height: fit-content;

}
.calculator-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;

}
.calculator-description{
    color: rgb(168, 168, 168);
    font-size: 1.3rem;
    font-weight: 350;
    line-height: 30px;
    margin-bottom: 30px;
}
.calculator-inputs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-bottom: 30px;
}
#big-input{
  grid-column: span 2;
}

.calculator-inputs input, select{
    background-color: rgba(102, 101, 101, 0.39);
    padding: 20px;
    border-radius: 12px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border-style: none;
}
.calculator-inputs select{
    border-right: 20px solid transparent;
    color: rgb(168, 168, 168);  
}


.calculate-btn{
    display:inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 20px 90px;
    background-color: rgba(245, 87, 38, 0.89);
    margin-bottom: 20px;
}


/* Trainer Team Section */

.our-team{
   
   
}
.team-text{
    text-align: center;
    padding: 0 34rem;
}
.team-text h2{
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 20px;
}
.team-text p{
    font-size: 18px;
    color:rgb(168, 168, 168);
    margin-bottom: 50px;
}
.team-trainers{
    margin: 80px 200px;
    padding: 30px ;
    background-color: rgba(58, 55, 55, 0.897) ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-radius: 20px;
    

}
.team-trainers>div{
    margin: auto;
    width: 100%;
    height: 40vh;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}
.team-trainers h2{
    margin: 0 0 5px 20px;
}
.team-trainers h5{
    margin: 0 0 20px 20px;
    font-size: 1rem;
    font-weight: 400;
    opacity: 70%;
}

.trainer-1{
    background-image: url(../images/trainer1.png);

}
.trainer-2{
    background-image: url(../images/trainer2.png);

}
.trainer-3{
    background-image: url(../images/trainer3.png);
}
.trainer-4{
    background-image: url(../images/trainer4.png);
    background-position: 70%;
}
.trainer-5{
    background-image: url(../images/trainer5.png);
}
.trainer-6{
    background-image: url(../images/trainer6.png);
}

/* Footer Section */
.footer{
    background-color:  rgba(58, 55, 55, 0.897) ;
    padding: 100px 200px  0 200px;
}
.footer-contant{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}
.footer-title{
    width: 30vw;
}

.footer-title h2{
    font-size: 4rem;
    font-weight: 800;
    color:  rgba(245, 87, 38, 0.89);
    margin-bottom: 20px;
}
.footer-title h5{
    font-size: 1.2rem;
    color: rgb(168, 168, 168);
    font-weight: 400;
    line-height: 2rem;
}
.footer-item {

}
.footer-item h3{
    font-size: 3rem;
    color: white;
    font-weight: 700;
}
.footer-item ul>li{
    font-size: 1.5rem;
    font-weight: 500;
    list-style: none;
    margin: 20px 0;
    color: rgb(168, 168, 168);
}
.reserved-right{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(168, 168, 168);
    padding: 50px ;
    
}













/* Responsive for Phone */

@media screen and (max-width:475px) {
    
/* Shared style */
.flex{
    display: flex;
    
}
/* Body */
body{
    background-color: black;
}
/* Header */

#head{
    background-color: rgb(20, 20, 20);
}


/* Nav Section */

.nav-section{
    justify-content: space-between;
    padding: 30px 20px;
}
.nav-title>h2{
    font-size: 40px;
    font-weight: 800;
    color: rgba(245, 87, 38, 0.89);
}
.nav-menu ul{
    display: none;

}

.nav-menu ul{
    border:thin solid aliceblue;
    align-items: center;
    gap: 0px;

}
.nav-menu a{
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 5px 12px;
    font-size: 15px;
    font-weight: 450;
}
a:hover{
    background-color:  rgba(245, 87, 38, 0.89);
}

#menu-icon{
    font-size: 2em;
    color: white;
    display: block;
    align-self: center;

}

/* Navigation Banner */

.nav-bnr{
    padding: 0px 20px;
    flex-direction: column;
    gap: 0;
}
.nav-bnr>div{
    width: 100%;
    height: 60vh;
}
/* .nav-bnr>div{
    width: 50vw;
    height: 50vh;
    border: 1px solid red;   
} */

.bnr-content{

   align-content: center;
}
.bnr-title{
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}
.bnr-description{
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
    opacity: 70%;
    margin-bottom: 30px;
}
.bnr-btn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.bnr-btn a{
    width: 35%;
    font-size: 100%;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    padding: 5%;
    margin-bottom: 0px;
}
.bnr-display{
    height: 70vh;
    background-image: url(../images/Images\ 2.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 95% 110%;
}
.bnr-video{
    width: 45%;
    display: flex;
    align-self: flex-end;
}

.bnr-card1{
    background-color:rgba(82, 79, 79, 0.897);
    color: white;
    border-radius: 16px;
    padding: 10% 15%;
    
}
.bnr-card1 h2{
    font-size: 2em;
    font-weight: 750;

}
.bnr-card1 h4{
    font-size: .8em;
    font-weight: 300;
    opacity: 70%;
    
}
.tuitorial{
    width: 45%;
}

.bnr-card2{

    background-color:rgba(82, 79, 79, 0.897);
    color: white;
    border-radius: 16px;
    padding: 10% 15%;
    
}

#circle{
    margin-right: 15px;
    width: 40px;
    height: 40px;
    background-color: rgba(245, 87, 38, 0.89);
    border-radius: 50%;
}
.bnr-card2 h2{
    font-size: 2em;
    font-weight: 750;

}
.bnr-card2 h4{
    font-size: .8em;
    font-weight: 300;
    opacity: 70%;
    
}


/* Habit Section */


.habit{
    padding: 0;
}
.habit-text{
    text-align: center;
    padding: 0 30px;
    
}
.habit-title{
    color: white;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}
.habit-description{
    color: white;
    font-size: 15px;
    font-weight: 500;
    opacity: 70%;
    margin-bottom: 20px;
}
.habit-cards{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0;
    margin: 40px auto;
    width: 100vw;
}
.habit-card{
    padding: 10px 30px;
    margin-bottom: 20px;
   
}
.habit-card>img{
    margin-bottom: 20px;
    border-radius: 50%;
}
.habit-card h3{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.habit-card h5{
    color: white;
    font-size: 18px;
    opacity: 70%;
    font-weight: 400;
    padding: auto 20px;
}

/* Habit Banner section */

.habit-brn{
    background-color: rgba(58, 55, 55, 0.897);
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 30px;
    margin: 20px;
    
}
.habit-brn div{
    margin: 10%;
}
.habit-bnr-content{
    width: fit-content;
    height: fit-content;
}
.habit-bnr-title{
    color: white;
    font-size: 2.8rem;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
.habit-bnr-description{
    color: rgb(168, 168, 168);
    font-size: 18px;
    font-weight: 350;
    line-height: 30px;
    margin-bottom: 40px;
}


.habit-bnr-btn{
    text-decoration: none;
    color: white;
    font-size: 1.56rem;
    border: 1px solid white;
    border-radius: 40px;
    padding: 15px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habit-bnr-img{
    background-image: url(../images/run.jpg);
    border-radius: 30px;
    background-size: cover;
    background-position: 40%;
    width: auto;
    height: 30vh;
    margin: 40px;
}



/* BMI Section */

.bmi-section{
    margin-bottom: 100px;
}
.section-text{
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    padding: 0;
}
.section-title{
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    
}
.section-description{
    color: rgb(168, 168, 168);
    font-size: 1.2rem;
    font-weight: 300;
    margin: 20px 0;
    line-height: 30px;
}

.bmi-calculate{
    background-color: rgba(58, 55, 55, 0.897);
    padding: 30px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bmi-chart h2{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 40px;
}
#calculate-chart{
    border: 0.5px solid rgba(194, 194, 194, 0.795);
    border-collapse: collapse;
    margin-bottom: 40px;
    width: 100%;
}

#calculate-chart td {
    border: 0.5px solid rgba(194, 194, 194, 0.795);
    color:  rgb(168, 168, 168);
    font-size: 1.2rem;
    font-weight: 400;
    padding: 18px 25px;
}
#calculate-chart thead td{
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
}
.bmi-calcucator{
    max-width: 100vw;
    max-height: fit-content;

}
.calculator-title{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 20px;

}
.calculator-description{
    color: rgb(168, 168, 168);
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 30px;
}
.calculator-inputs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-bottom: 40px;
}
.calculator-inputs input{
    background-color: rgba(102, 101, 101, 0.39);
    padding: 10% 5%;
    border-radius: 12px;
    color: white;
    font-size: 100%;
    width: 90%;
    font-weight: 500;
    border-style: none;
    ::border-color: none;
}
.calculator-inputs select{
    font-size: 100%;
    padding: 10% 5%;
    font-weight: 500;
    color: rgb(168, 168, 168);
}

#big-input{
    padding: 5%;

}
.calculate-btn{
    display:inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 20px 90px;
    background-color: rgba(245, 87, 38, 0.89);
    margin-bottom: 20px;
}



/* Team Trainer */
    

.our-team{
   
   
}
.team-text{
    text-align: center;
    padding: 0 2rem;
}
.team-text h2{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}
.team-text p{
    font-size: 18px;
    color:rgb(168, 168, 168);
    margin-bottom: 50px;
}
.team-trainers{
    margin: 20px;
    padding: 30px ;
    background-color: rgba(58, 55, 55, 0.897) ;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    border-radius: 20px;
    

}
.team-trainers>div{
    margin: auto;
    width: 100%;
    height: 40vh;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}
.team-trainers h2{
    margin: 0 0 5px 20px;
}
.team-trainers h5{
    margin: 0 0 20px 20px;
    font-size: 1rem;
    font-weight: 400;
    opacity: 70%;
}

.trainer-1{
    background-image: url(../images/trainer1.png);

}
.trainer-2{
    background-image: url(../images/trainer2.png);

}
.trainer-3{
    background-image: url(../images/trainer3.png);
}
.trainer-4{
    background-image: url(../images/trainer4.png);
    background-position: 70%;
}
.trainer-5{
    background-image: url(../images/trainer5.png);
}
.trainer-6{
    background-image: url(../images/trainer6.png);
}


/* Footer Section */
.footer{
    background-color:  rgba(58, 55, 55, 0.897) ;
    padding: 30px;
    margin-top: 50px;
}
.footer-contant{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 25px;
    
}
.footer-title{
    width: fit-content;
}

.footer-title h2{
    font-size: 4rem;
    font-weight: 800;
    color:  rgba(245, 87, 38, 0.89);
    margin-bottom: 20px;
}
.footer-title h5{
    font-size: 1.2rem;
    color: rgb(168, 168, 168);
    font-weight: 400;
    line-height: 2rem;
}
.footer-item {

}
.footer-item h3{
    font-size: 3rem;
    color: white;
    font-weight: 700;
}
.footer-item ul>li{
    font-size: 1.5rem;
    font-weight: 500;
    list-style: none;
    margin: 20px 0;
    color: rgb(168, 168, 168);
}
.reserved-right{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(168, 168, 168);
    padding: 50px 0;
    
}

}